body{
    background-color: hsl(0, 0%, 94%);
    display: flex;
    justify-content: center;  
    align-items: center;     
    height: 110vh; 
    font-family: 'Poppins', sans-serif;
}
.main-container{
    height: 380px;
    width: 620px;
    padding: 100px 50px;
    background-color: hsl(0, 0%, 100%);  
    text-align: center;
    border-radius: 30px;
    border-bottom-right-radius: 200px;
}
.container-one{
    display: flex;
    justify-content: flex-start;
    gap: 20px;   
}

input{
    width: 140px;
    height: 60px;
    border: 2px solid hsl(0, 0%, 94%);
    border-radius: 5px;
    font-weight: 800;
}
label{
    margin-right: 100px;
    padding: 0px 0px 5px;
    color: hsl(0, 1%, 44%);
    font-weight: 700;
}
.data{
    display: flex;
    flex-direction: column;
}
.container-two{
    display: flex;
    align-items: center; /* Centers items horizontally */
}
hr {
    width: 100%; /* Ensures it stretches horizontally */
    border: none;
    border-top: 2px solid hsl(0, 0%, 94%); /* Adjust thickness and color */
    margin: 10px 0px; /* Adds spacing */
}
button{
    background-color: hsl(259, 100%, 65%);
    border-radius: 50%;
}
#years, #months, #days{
    color: hsl(259, 100%, 65%);
    font-weight: 800;
    font-style: italic;
    position: absolute;
    left: 0; /* Pushes to the left edge */
}
.container-three{
    font-weight: 800;
    font-style: italic; 
    position: relative;
    left: 0;
}

.answer{
    margin-right: 300px;
}
.answer-2{
    margin-right: 280px;
}
.answer-3{
    margin-right: 320px;
}